<% if(userName) { %>
    <a href="/">Home</a>
    <a href="/authors">Authors</a>
    <a href="/quotes">Quotes</a>
    <a href="/newAuthor">New Author</a>
    <a href="/newQuote">New Quote</a>
    <a href="/logout">Logout</a>
<% } else { %>
    <a href="/login">Login</a>
<% } %>
