# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Mac system files
.AppleDouble
.LSOverride

# Windows system files
ehthumbs.db
Desktop.ini

node_modules/
.env