<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    <%- include('partials/navbar.ejs') %>
    <form action="/newQuote" method="GET">
        <button> New Quote</button>
    </form>
    <br>
    <form action="/newAuthor" method="GET">
        <button> New Authors</button>
    </form>
    <br>
    <form action="/authors" method="GET">
        <button> All Authors</button>
    </form>
    <br>
    <form action="/quotes" method="GET">
        <button> All Quotes</button>
    </form>
    <br>

    <%- include('partials/footer')%>
</body>
</html>